body {
    font-size: 15px;
}

#root {
  width: 90%;
  display: block;
  margin: 0 auto;
  position: relative;
}

#card_container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-size: 15px;
}

.card {
    flex-direction: row;
    width: 240px;
    margin: 5px 15px;
    transform: translate(0px, 40px);
    padding: 12px;
    text-align: left;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    border-radius: 8px;
    border: 1px solid #0000004f;
}

.card.yellow {
    background-color: #f3f08e;
}

.card.blue {
    background-color: #82d8f2;
}

.card.purple {
    background-color: #d7c3f3;
}

.card.green {
    background-color: #a9dca9;
}

.card.red {
    background-color: #f28b82;
}

.card.white {
    background-color: #fff;
}

.card li {
    width: 100px;
}

.card input {
    display: inline-block;
    color: #80868b;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    background: transparent;
    border: none;
}

.add_button {
    display: inline-block;
    width: 70px;
    background-color: #b8b8da;
    border-radius: 4px;
    border: none;
}

#newCard {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #9894e4e6;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    right: 5%;
    bottom: 5%;
}

.card .cardTitle {
    display: inline-flex;
    width: 74%;
    vertical-align: top;
    color: #000;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    margin: 0 0 17px 5px;
    text-transform: uppercase;
}

.delete_card {
    float: right;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: none;
}

.delete_input {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    width: 11%;
}

.list_item {
    width: 92%;
    display: block;
    margin: 0 auto;
    padding: 10px 4px;
    font-size: 13px;
    line-height: 16px;
    text-transform: capitalize;
}

.list_item_text {
  display: inline-block;
  width: 89%;
}

.card .itemInput {
    width: 80%;
    display: block;
    margin: 20px auto 10px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid;
}

.color_options {
    display: flex;
    width: 80%;
    margin: 10px auto 5px;
    padding: 4px;
}

.color_option {
    height: 20px;
    width: 20px;
    border: solid 2px #000;
    border-radius: 9px;
    display: inline-flex;
    margin: 0 3px;
    padding: 0px;
    cursor: pointer;
}

.color_options .white {
    background-color: #fff;
}


.color_options .yellow {
    background-color: #f3f08e;
}

.color_options .blue {
    background-color: #82d8f2;
}

.color_options .purple {
    background-color: #d7c3f3;
}

.color_options .green {
    background-color: #a9dca9;
}

.color_options .red {
    background-color: #f28b82;
}